In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# import streamlit as st
import sklearn as sk
from Logistic_regression_Model import gradient_descent, predict

In [38]:
df = pd.read_csv("train_dataset.csv")
test_data = pd.read_csv("test_dataset.csv")
# st.write(train_data)

In [39]:
print(df.shape)
print(df.describe())
df.head()

(1900, 17)
               Age       Height       Weight         FCVC          NCP  \
count  1900.000000  1900.000000  1900.000000  1888.000000  1900.000000
mean     24.284211     1.701416    86.515363     2.417272     2.682968
std       6.287165     0.093077    26.157025     0.536367     0.780401
min      14.000000     1.450000    39.000000     1.000000     1.000000
25%      20.000000     1.630000    65.812500     2.000000     2.660000
50%      23.000000     1.700000    83.000000     2.380000     3.000000
75%      26.000000     1.770000   107.050000     3.000000     3.000000
max      61.000000     1.980000   173.000000     3.000000     4.000000

              CH2O          FAF          TUE
count  1900.000000  1900.000000  1900.000000
mean      2.015832     1.004505     0.663579
std       0.611293     0.853269     0.608729
min       1.000000     0.000000     0.000000
25%       1.610000     0.110000     0.000000
50%       2.000000     1.000000     0.631000
75%       2.490000     1.660000     1.000000
max       3.000000     3.000000     2.000000

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,18,1.82,142.10,yes,yes,3.00,3.00,Sometimes,no,2.71,no,2.00,0.814,Sometimes,Public_Transportation,Obesity_Type_III
1,Male,32,1.84,98.26,yes,yes,2.33,1.82,Sometimes,no,2.56,no,1.33,0.481,Sometimes,Automobile,Overweight_Level_II
2,Male,24,1.76,117.33,yes,yes,1.54,3.00,Sometimes,no,2.00,no,1.63,0.631,NaN,Public_Transportation,Obesity_Type_II
3,Female,26,1.62,110.68,yes,yes,3.00,3.00,Sometimes,no,2.69,no,0.00,0.425,NaN,Public_Transportation,Obesity_Type_III
4,Male,32,1.78,121.20,yes,yes,2.76,3.00,Sometimes,no,2.16,no,0.43,0.716,NaN,Automobile,Obesity_Type_II

In [40]:
df.isna().sum().sort_values()

Gender                             0
Age                                0
Height                             0
Weight                             0
family_history_with_overweight     0
FAVC                               0
NCP                                0
CAEC                               0
FAF                                0
SMOKE                              0
CH2O                               0
SCC                                0
MTRANS                             0
TUE                                0
NObeyesdad                         0
FCVC                              12
CALC                              28
dtype: int64

In [41]:
df = df.drop_duplicates()
# mode_value = df['CALC'].mode()[0] 
df['CALC'] = df['CALC'].fillna(df['CALC'].mode()[0])
df['FCVC'] = df['FCVC'].fillna(df['FCVC'].mean())

In [42]:
print(df.shape)
df.isna().sum().sort_values()

(1878, 17)

Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64